nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: cadetblue;
}

nav button{
    padding: 10px;
    color: blueviolet;
}

nav p{
    font-size: 2rem;
    font-weight: bold;
}


table{
    width: 100%;
}

thead th{
    background-color: rgb(61, 60, 60);
    color: white;
    height: 30px;
}

tbody{
    text-align: center;
}

.chart-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-form {
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  