

<div class="container" *ngIf="!loggedIn">
  <h1>Login</h1>
  <div class="login" *ngIf="!loggedIn">
    <label for="username">Username:</label><br>
    <input class="int" type="text" id="username" name="username" placeholder="Username" [(ngModel)]="username" required>
  </div>
  <div class="login" *ngIf="!loggedIn">
    <label for="password">Password:</label><br>
    <input class="int" type="password" id="password" name="password" placeholder="password" [(ngModel)]="password" required>
  </div>
  <div *ngIf="!loggedIn">
    <button class="login-btn" (click)="login()">Login</button>
  </div>

  <!-- <div *ngIf="loggedIn">
    <p>Welcome, {{ role }}!</p>
    <button class="login-btn" (click)="logout()">Logout</button>
  </div> -->
  <div>
    <h4>Admin: username = admin & password = adminpassword</h4>
    <h4>Manager: username = manager & password = managerpassword</h4>
    <h4>Employee: username = employee & password = employeepassword</h4>
  </div>
</div>
<router-outlet *ngIf="loggedIn"></router-outlet>

